@model List<HomeServicesApp.Models.Service>

@{
    ViewData["Title"] = "Home Page";
}

<section class="hero text-center">
    <h1 class="fw-bold">Home Services, On Demand</h1>
    <p class="lead">Trusted professionals at your doorstep</p>

    <div class="mt-4">
        <button class="btn btn-primary btn-lg px-5">
            Book a Service
        </button>
    </div>
</section>

<section class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="fw-semibold">Popular Services</h4>
        <a href="#" class="text-decoration-none fw-semibold text-primary">View all</a>
    </div>

    <div class="row g-4">

        @foreach (var s in Model)
        {
            <div class="col-6 col-md-3">
                <div class="card service-card p-4 text-center shadow-sm">

                    @if (!string.IsNullOrEmpty(s.IconPath))
                    {
                        <img src="@s.IconPath" width="60" class="mb-2" />
                    }

                    <h6>@s.ServiceName</h6>
                    <small>From ₹@s.Price</small>

                </div>
            </div>
        }

    </div>

</section>