@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3 class="mb-4">Booking Management</h3>

<div class="card p-3 table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Worker</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#1024</td>
                <td>Rahul</td>
                <td>Ajay</td>
                <td><span class="badge bg-success">Completed</span></td>
                <td>
                    <button class="btn btn-sm btn-danger">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>