@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Service

<form method="post">
    <input asp-for="ServiceId" type="hidden" />
    <input asp-for="ServiceName" class="form-control mb-2" />
    <input asp-for="Price" class="form-control mb-2" />
    <input asp-for="IconPath" class="form-control mb-2" />
    <button class="btn btn-primary">Update</button>
</form>