@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3 class="mb-4">Revenue & Payments</h3>

<div class="card p-4 bg-dark text-white">
    <h4>Total Revenue: ₹ 12,45,000</h4>
    <h6>Commission (20%): ₹ 2,45,000</h6>
</div>