@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3 class="mb-4">Worker Management</h3>

<div class="card p-3 table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Skill</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ajay</td>
                <td>Plumber</td>
                <td><span class="badge bg-warning text-dark">Pending</span></td>
                <td>
                    <button class="btn btn-sm btn-success">Approve</button>
                    <button class="btn btn-sm btn-danger">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>